/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: "MontserratVariable", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --fontFamily-serif: "GowunBatang-Regular", "Merriweather", "Georgia", Cambria,
    "Times New Roman", Times, serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-bold: 700;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #d867a9;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

.mark_down hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

.mark_down h1,
.mark_down h2,
.mark_down h3,
.mark_down h4,
.mark_down h5,
.mark_down h6 {
  font-family: var(--font-heading);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

.mark_down h2,
.mark_down h3,
.mark_down h4,
.mark_down h5,
.mark_down h6 {
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-3);
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

.mark_down h1 {
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-heading-black);
}

.mark_down h2 {
  font-size: var(--fontSize-5);
}

.mark_down h3 {
  font-size: var(--fontSize-3);
}
/* 안 쓸 것 같으니 일단 주석처리
.mark_down h4 {
  font-size: var(--fontSize-3);
}

.mark_down h5 {
  font-size: var(--fontSize-2);
}

.mark_down h6 {
  font-size: var(--fontSize-1);
}
*/
.mark_down h1 > a {
  color: inherit;
  text-decoration: none;
}

.mark_down h2 > a,
.mark_down h3 > a,
.mark_down h4 > a,
.mark_down h5 > a,
.mark_down h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */
.mark_down aside {
  background-color: var(--color-shadow);
  padding: var(--spacing-4) var(--spacing-8) var(--spacing-1) var(--spacing-8);
  border-radius: 5px;
  margin: var(--spacing-4) var(--spacing-0);
}
.mark_down aside hr {
  background: var(--color-sub);
  height: 2px;
  border: 0;
  margin: var(--spacing-0);
}
.mark_down nav {
  color: gray;
  background-color: whitesmoke;
  padding: 1em 1.5em;
}
.mark_down > p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-4) var(--spacing-0);
  padding: var(--spacing-0);
}
.mark_down ul {
  list-style-type: disc;
}
.mark_down ol {
  list-style-type: decimal;
}
.mark_down ul,
.mark_down ol {
  padding: var(--spacing-0);
  margin: var(--spacing-4) var(--spacing-0);
  list-style-position: inside;
  list-style-image: none;
}

.mark_down ul li,
.mark_down ol li {
  padding-left: var(--spacing-0);
  margin-bottom: var(--spacing-4);
}

.mark_down li > * {
  margin-left: var(--spacing-4);
}
.mark_down li > strong,
.mark_down li > a {
  margin-left: var(--spacing-0);
}

.mark_down li > p:first-child {
  display: inline;
  margin-bottom: calc(var(--spacing-8) / 2);
  margin-left: var(--spacing-0);
}

.mark_down li *:last-child {
  margin-bottom: var(--spacing-0);
}

.mark_down li > ul {
  margin-top: var(--spacing-4);
  list-style-type: circle;
}
.mark_down li > ul > li > ul {
  margin-top: var(--spacing-4);
  list-style-type: square;
}
.mark_down li > ol {
  margin-top: var(--spacing-4);
  list-style-type: lower-alpha;
}
.mark_down li > ol > li > ol {
  margin-top: var(--spacing-4);
  list-style-type: lower-roman;
}

.mark_down blockquote {
  color: var(--color-text-light);
  margin-top: var(--spacing-6);
  margin-left: calc(var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-sub);
}

.mark_down blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

.mark_down blockquote > ul,
.mark_down blockquote > ol {
  list-style-position: inside;
}

.mark_down table {
  width: 100%;
  margin: var(--spacing-4) var(--spacing-0);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

.mark_down table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}
/*Code*/
:not(pre) > code[class*="language-"] {
  background: #f4f4f4 !important;
  font-family: inherit !important;
  font-size: 90% !important;
  padding: 0px 4px !important;
  margin: var(--spacing-0);
}
pre[class*="language-"] {
  background: #f4f4f4 !important;
  font-family: inherit !important;
  font-size: 90% !important;
  padding: 1em !important;
}

/* Link */
.mark_down a {
  color: var(--color-primary);
}

.mark_down a:hover,
.mark_down a:focus {
  text-decoration: none;
  color: #992f6d;
}

/* Custom classes */

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.bio {
  display: flex;
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0) !important;
}

.blog-post header p {
  font-size: var(--fontSize-2) !important;
  font-family: var(--font-heading) !important;
}

.blog-post-nav ul {
  margin: var(--spacing-0) !important;
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside !important;
  }
}
