/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: "TheJamsil5Bold", "MontserratVariable", system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "omyu_pretty", "SUITE-Regular", "GowunBatang-Regular",
    "Merriweather", "Georgia", Cambria, "Times New Roman", Times, serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-bold: 700;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1.2rem;
  --fontSize-2: 1.44rem;
  /* --fontSize-3: 1.44rem; */
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-point: #0c3675;
  --color-primary: #567eb9;
  --color-sub: #77b2da;
  --color-code: #da77a0;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
  --color-back: #ededeb;
}

/*스크롤바 ui*/
*::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 255, 255, 0);
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(86, 126, 185, 0.5);
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}
.scroll-box-hidden::-webkit-scrollbar-thumb {
  visibility: hidden;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

.mark_down hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

.listItemTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Heading */

.mark_down h1,
.mark_down h2,
.mark_down h3,
.mark_down h4,
.mark_down h5,
.mark_down h6 {
  font-family: var(--font-heading);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
  scroll-margin-top: 4em;
}

.mark_down h2,
.mark_down h3,
.mark_down h4,
.mark_down h5,
.mark_down h6 {
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-3);
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

.mark_down h1 {
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-heading-black);
}

.mark_down h2 {
  font-size: var(--fontSize-5);
}

.mark_down h3 {
  font-size: var(--fontSize-4);
}
/* 안 쓸 것 같으니 일단 주석처리
.mark_down h4 {
  font-size: var(--fontSize-3);
}

.mark_down h5 {
  font-size: var(--fontSize-2);
}

.mark_down h6 {
  font-size: var(--fontSize-1);
}
*/

.mark_down h1 > a {
  color: inherit;
  text-decoration: none;
}

.mark_down h2 > a,
.mark_down h3 > a,
.mark_down h4 > a,
.mark_down h5 > a,
.mark_down h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */
.mark_down aside {
  border: 2px solid #dfdfde;
  padding: var(--spacing-4) var(--spacing-8) var(--spacing-4) var(--spacing-8);
  border-radius: 5px;
  margin: var(--spacing-4) var(--spacing-0);
}
.mark_down aside hr {
  height: 2px;
  border: 0;
  margin: var(--spacing-0);
}
.mark_down nav {
  color: gray;
  background-color: whitesmoke;
  padding: 1em 1.5em;
}
.mark_down > p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-4) var(--spacing-0);
  padding: var(--spacing-0);
}
.mark_down ul {
  list-style-type: disc;
}
.mark_down ol {
  list-style-type: decimal;
}
.mark_down ul,
.mark_down ol {
  padding: var(--spacing-0);
  margin: var(--spacing-4) var(--spacing-0);
  list-style-position: inside;
  list-style-image: none;
}

.mark_down ul li,
.mark_down ol li {
  padding-left: var(--spacing-0);
  margin-bottom: var(--spacing-4);
}

.mark_down li > * {
  margin-left: var(--spacing-4);
}
.mark_down li > strong,
.mark_down li > a {
  margin-left: var(--spacing-0);
}

.mark_down li > p:first-child {
  display: inline;
  margin-bottom: calc(var(--spacing-8) / 2);
  margin-left: var(--spacing-0);
}

.mark_down li *:last-child {
  margin-bottom: var(--spacing-0);
}

.mark_down li > ul {
  margin-top: var(--spacing-4);
  list-style-type: circle;
}
.mark_down li > ul > li > ul {
  margin-top: var(--spacing-4);
  list-style-type: square;
}
.mark_down li > ol {
  margin-top: var(--spacing-4);
  list-style-type: lower-alpha;
}
.mark_down li > ol > li > ol {
  margin-top: var(--spacing-4);
  list-style-type: lower-roman;
}

.mark_down blockquote {
  color: var(--color-text-light);
  margin-top: var(--spacing-6);
  margin-left: calc(var(--spacing-6));
  padding: var(--spacing-4);
  border-left: var(--spacing-1) solid var(--color-sub);
  background-color: #f8f9fa;
}

.mark_down blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

.mark_down blockquote > ul,
.mark_down blockquote > ol {
  list-style-position: inside;
}

.mark_down table {
  width: 100%;
  margin: var(--spacing-4) var(--spacing-0);
  border-collapse: separate;
  border-radius: 10px;
  border: 4px solid var(--color-sub);
  border-spacing: 0rem;
}
.mark_down div {
  overflow-x: auto;
}

.mark_down table thead tr th {
  background-color: var(--color-sub);
  border-left: 2px solid var(--color-accent);
  color: white;
  padding: 0.5em;
}
.mark_down table thead tr th:first-child,
.mark_down table thead tr td:first-child,
.mark_down table tbody tr td:first-child {
  border-left: none;
}
.mark_down table tbody tr td {
  padding: 0.5em;
  border-bottom: 2px solid var(--color-accent);
  border-left: 2px solid var(--color-accent);
}

/*Code*/
:not(pre) > code[class*="language-"] {
  color: var(--color-code);
  background: var(--color-back) !important;
  font-size: 100% !important;
  padding: 2px 5px !important;
  margin: var(--spacing-0);
  font-family: "omyu_pretty" !important;
}

pre[class*="language-"] {
  background: #f7f6f3 !important;
  font-family: "inherit" !important;
  font-size: 90% !important;
  padding: 1em !important;
}

pre[class*="language-"] code {
  font-family: "EliceDigitalBaeum_Bold" !important;
}

/* Link */
.mark_down a {
  color: var(--color-sub);
}

.mark_down a:hover,
.mark_down a:focus {
  text-decoration: none;
  color: var(--color-point);
}

/* Custom classes */

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-4);
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  min-width: 50px;
  border-radius: 10px;
}

/*toc*/
.table-of-content {
  font-size: medium;
  background: #fff;
  overflow-wrap: break-word;
  height: 100%;
  max-height: 75vh;
  overflow-y: auto;
}
.table-of-content > ul {
  margin-left: 0px;
}
.table-of-content > ul > li {
  color: var(--color-sub);
  margin-bottom: 0.5em;
}
.table-of-content > ul ul {
  border-left: 2px solid #dddddf;
  margin-left: 1em;
  padding-left: 1em;
  color: var(--color-sub);
}

.table-of-content a,
.table-of-content li a {
  padding: 2px 10px;
  margin: 2px 0px;
  border-radius: 5px;
}
.table-of-content a:hover,
.table-of-content li a:hover {
  color: var(--color-point);
  background-color: #dddddf;
  transition: all 0.25s ease 0s;
}

.table-of-content a {
  display: block;
  width: 100%;
  max-width: 100%;
  decoration: none;
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0) !important;
}

.blog-post header p {
  font-size: var(--fontSize-2) !important;
  font-family: var(--font-heading) !important;
}

.blog-post-nav ul {
  margin: var(--spacing-0) !important;
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside !important;
  }
}
